{% extends "index.html" %}
{% block body %}


<div class="jumbotron">


  <h1>Mail Delivery</h1>


  <form action="{{ url_for('mail_delivery') }}" method=post>
    <div class="form-group row">
      <label for="inputSlot1" class="col-sm-2 col-form-label">Slot 1</label>
      <div class="col-sm-10">
        <select class="form-control">
        <option>Select a desk</option>
        {% for desk in desks %}
        <option>{{ desk }}</option>
        {% endfor %}

      </select> </div>
    </div>
    <div class="form-group row">
      <label for="inputSlot2" class="col-sm-2 col-form-label">Slot 2</label>
      <div class="col-sm-10">
        <select class="form-control">
          <option>Select a desk</option>
          {% for desk in desks %}
          <option>{{ desk }}</option>
          {% endfor %}

      </select> </div>
    </div>
    <div class="form-group row">
      <label for="inputSlot3" class="col-sm-2 col-form-label">Slot 3</label>
      <div class="col-sm-10">
        <select class="form-control">
          <option>Select a desk</option>
          {% for desk in desks %}
          <option>{{ desk }}</option>
          {% endfor %}

      </select> </div>
    </div>
    <div class="form-group row">
      <label for="inputSlot4" class="col-sm-2 col-form-label">Slot 4</label>
      <div class="col-sm-10">
        <select class="form-control">
          <option>Select a desk</option>
          {% for desk in desks %}
          <option>{{ desk }}</option>
          {% endfor %}

      </select> </div>
    </div>

      <div class="form-group row">
        <label for="inputSlot5" class="col-sm-2 col-form-label">Parcel</label>
        <div class="col-sm-10">
          <select class="form-control">
            <option>Select a desk</option>
            {% for desk in desks %}
            <option>{{ desk }}</option>
            {% endfor %}

        </select> </div>
      </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <!--TODO: check this works with the action-->
        <button type="submit" class="btn btn-primary">Deliver Mail</button>
      </div>
    </div>
  </form>
</div>
<!---->
{% endblock %}
