<!DOCTYPE html>
<html lang="en">
<head>
  <title>Status</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Spam - Status</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #647687;">
      <a class="navbar-brand" href="#"><img src="img/logo.png" width="89" height="30" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--TODO: get routes and html for these -->
    <!--TODO: database things -->
    <!--TODO: refine these -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Mail Delivery <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('status') }}">Status</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li>
          <li class="nav-item">
            {% if not session.logged_in %}
              <a class="nav-link" href="{{ url_for('login') }}">Log-In</a>
            {% else %}
              <a class="nav-link" href="{{ url_for('logout') }}">Log-Out</a>
            {% endif %}
          </li>

        </ul>

        <button type="button" class="btn btn-dark" style="background-color: #647687; border-color:#647687;padding-right:15px;">
          Notifications <span class="badge badge-warning">4</span>
        </button>

        <span class="badge badge-pill badge-success">Robot Connected</span>

      </div>
    </nav>

    <div class="jumbotron">
    </div>

    <div class="container">
      <h2>Status -- Information</h2>
      <p>The robot's status can be viewed here in this handy table.</p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Information</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Connection Status</td>
            <td>Lorem Ipsum</td>
          </tr>
          <tr>
            <td>Robot Location</td>
            <td>Lorem Ipsum</td>
          </tr>
          <tr>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
          </tr>
        </tbody>
      </table>
    </div>

  </body>
  </html>
