
{% extends "index.html" %}
{% block recipients %}
    <div class="jumbotron">


    <div class="container">
      <h2>Status -- Information</h2>
      <p>The robot's status can be viewed here in this handy table.</p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Information</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Connection Status</td>
            <td>Lorem Ipsum</td>
          </tr>
          <tr>
            <td>Robot Location</td>
            <td>Lorem Ipsum</td>
          </tr>
          <tr>
            <td>Lorem Ipsum</td>
            <td>Lorem Ipsum</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

{% endblock %}
